/*============================================================================
#Variable
==============================================================================*/
$gutter: 30px;
$main-color: #e74b3c;
$font-base: "Roboto",
sans-serif;
$font-title:"Andika New Basic",
sans-serif;
$hover: #e74b3c;
$text-color: #363636;
$price:#e74b3c;

body {
    font-family: $font-title;
    font-size: 14px;
}

a {
    color: black;
}

a:hover {
    color: $main-color;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.active {
    color: $main-color;

    &:hover {
        color: black;

    }
}


.header {
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        @media (max-width:992px) {
            display: inline-block;
            text-align: center;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-right: 0px;

        .info-sub {
            display: flex;
            width: 100%;
            align-items: center;

            .description {
                margin: 0 8px;

                .title {
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 16px;
                }

                .desc {
                    font-size: 13px;
                    line-height: 12px;
                    color: #737373;
                }

                a {
                    text-decoration: none;
                    color: black;

                    &:focus {
                        color: $main-color;
                    }
                }
            }
        }

        .account {
            width: 520px;
        }

        .cart {
            a {
                color: black;
                display: flex;
                align-items: center;

                &:hover {
                    text-decoration: none;
                }

                .item {
                    font-size: 12px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    line-height: 40px;
                    background: $main-color;
                    text-align: center;
                    color: white;

                    em {
                        transform: scaleY(-1) rotate(180deg);
                        font-size: 14px;
                    }
                }
            }

            position: relative;
            width: 505px;

            &:hover {
                .content-hover {
                    display: block;
                }
            }
        }

        .content {
            position: absolute;
        }

        .address {
            width: 400px;

            @media (max-width:1200px) {
                display: none;
            }
        }

        .support {
            width: 420px;

            @media (max-width:1200px) {
                display: none;
            }
        }


    }

    .header-mobile {
        @media (max-width:992px) {
            display: none;
        }
    }

    .search {

        width: 100%;
        display: flex;
        align-items: center;
        line-height: 40px;

        input,
        button {
            outline: none;
        }

        input {
            width: 100%;
            border-radius: 40px;
            border: 2px solid #ebebeb;
            padding: 0 40px 0 20px;
            position: relative;
        }

        button {
            line-height: 44px;
            position: absolute;
            right: 0px;
            padding: 0 15px;
            border: none;
            border-radius: 22px;
            font-size: 14px;
            background-color: $main-color;
            color: white;
        }
    }
}

.content-hover {
    top: 40px;
    right: 15px;
    z-index: 10;
    position: absolute;
    width: 260px;

    line-height: 20px;
    font-size: 14px;
    font-family: $font-title;
    background-color: white;
    display: none;

    .wrapper {
        max-height: 380px;
        overflow-y: scroll;
    }

    .item-hover {
        margin: 20px 20px 20px 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eeeeee;
        font-weight: bold;

        a {
            color: black;

            &:hover {
                text-decoration: none;

                .name {
                    color: $main-color;
                }

                .price {
                    color: black;
                }
            }

            .product-info {
                margin: 0 10px;
            }
        }
    }

    .cost {
        margin-top: 10px;
        display: flex;

        .price {

            color: $main-color;
        }

        .amount {
            margin-left: 5px;
            opacity: 0.5;
        }
    }

    ::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: $main-color;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    
    ::-webkit-scrollbar-thumb{
        background-color: $main-color;
    }
}

.total-price {
    margin-top: 10px;
    text-align: center;

    .value {
        font-weight: bold;
        color: $main-color;
    }
}

.link-hover {
    text-align: center;
    margin: 10px 30px;
    height: auto;
    padding: 2px;

    &:hover {
        a {
            text-decoration: none;
            color: $main-color;
            background-color: white;
            border: 2px solid $main-color;
        }
    }

    a {
        border: 2px solid $main-color;
        outline: none;
        color: white;
        padding: 8px 70px;
        border-radius: 30px;
        background-color: $main-color;

        &:focus {
            outline: none;
        }
    }
}


.header-menu {
    background-color: $main-color;

    .header-nav {
        font-size: 18px;

        .item-big {
            justify-content: center;
            margin: 0;

            .nav-item {
                padding: 20px;
            }
        }

        li {
            position: relative;
        }

        a {
            text-decoration: none;
            color: white;

            &:hover {
                color: black;
            }

            &:before {
                content: "";
                width: 2px;
                height: 15px;
                background: rgba(255, 255, 255, 0.5);
                display: block;
                position: absolute;
                right: 0;
                top: 25px;
            }
        }
    }

    z-index: 10;
}

// MENU MOBILE
$background--color:#1e2023;
$icon--color:#1e2023;
$font--color:#ffffff;
$font--color--active:#000000;
$font--primary:'Fira Sans',
sans-serif;
$transition--length: .8;

body {
    font-family: $font--primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-content {
    max-width: 1100px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &__headline {
        font-weight: 200;
        color: $font--color;
        font-size: calc(2vw + 10px);
    }
}

//default state
.menu-icon {
    $size: 30px;
    height: $size;
    width: $size;
    position: fixed;
    z-index: 2;
    left: 50px;
    top: 30px;
    cursor: pointer;

    &__line {
        height: 2px;
        width: $size;
        display: block;
        background-color: $main-color;
        margin-bottom: 4px;
        transition: transform .2s ease, background-color .5s ease;
    }

    &__line-left {
        width: $size / 2;
    }

    &__line-right {
        width: $size / 2;
        float: right;
    }
}

.nav {
    $width: 100vw;
    $height: 100vh;
    $font--size--calc: calc(2vw + 10px);
    $transition--easing: cubic-bezier(.77, 0, .175, 1);
    position: fixed;
    z-index: 1;

    &:before,
    &:after {
        content: "";
        position: fixed;
        top: -150px;
        width: $width;
        height: 200%;
        background: rgba(#eaeaea, .2);
        z-index: -1;
        transition: transform $transition--easing $transition--length + s;
        transform: translateX(0%) translateY(-100%);
    }

    &:after {
        background: floralwhite;
        opacity: 0.8;
        transition-delay: 0.2s;
    }

    &:before {
        transition-delay: .1s;
    }

    &__content {
        position: fixed;
        top: 50%;
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
        font-size: $font--size--calc;
        font-weight: 200;
        cursor: pointer;
    }

    &__list-item {
        position: relative;
        display: inline-block;
        transition-delay: $transition--length + s;
        opacity: 0;
        transform: translate(0%, 100%);
        transition: opacity .2s ease, transform .3s ease;
        margin-right: 25px;
        line-height: 30px;

        &:before {
            content: "";
            position: absolute;
            background: $font--color--active;
            width: 20px;
            height: 1px;
            top: 100%;
            transform: translate(0%, 0%);
            transition: all .3s ease;
            z-index: -1;
        }

        &:hover {
            &:before {
                width: 100%;
            }
        }
    }
}

//active state
body.nav-active {
    $menu--items--count: 4;

    .menu-icon {
        &__line {
            background-color: #000;
            transform: translateX(0px) rotate(-45deg);
        }

        &__line-left {
            transform: translateX(1px) rotate(45deg);
        }

        &__line-right {
            transform: translateX(-2px) rotate(45deg);
        }
    }

    .nav {
        visibility: visible;

        &:before,
        &:after {
            transform: translateX(0%) translateY(0%);
        }

        &:after {
            transition-delay: .1s;
        }

        &:before {
            transition-delay: 0s;
        }

        &__list-item {
            opacity: 1;
            transform: translateX(0%);
            transition: opacity .3s ease, transform .3s ease, color .3s ease;

            @for $i from 0 through 5 {
                &:nth-child(#{$i}) {
                    transition-delay: $transition--length * $i / 8 + .5 + s;
                }
            }
        }
    }
}


.menu-mobile-wrap {
    .search {

        width: 100%;
        display: flex;
        align-items: center;
        line-height: 40px;


        input,
        button {
            outline: none;
        }

        input {
            width: 100%;
            border-radius: 40px;
            border: 2px solid #ebebeb;
            padding: 0 40px 0 20px;
            position: relative;
        }

        button {
            line-height: 44px;
            position: absolute;
            right: 0;
            padding: 0 15px;
            border: none;
            border-radius: 22px;
            font-size: 14px;
            background-color: $main-color;
            color: white;
        }
    }

    .cart {
        align-items: center;
        justify-content: center;
        position: relative;

        .item {
            font-size: 12px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 40px;
            background: $main-color;
            text-align: center;
            color: white;

            em {
                transform: scaleY(-1) rotate(180deg);
                font-size: 14px;
            }
        }

        .description {


            margin: 0 8px;

            .title {
                font-size: 15px;
                font-weight: 600;
                line-height: 16px;
            }

            .desc {
                font-size: 13px;
                line-height: 12px;
                color: #737373;
            }

            a {
                text-decoration: none;
                color: black;

                &:focus {
                    color: $main-color;
                }
            }

            @media (max-width:420px) {
                .desc {
                    font-size: 10px;
                }

                .title {
                    font-size: 12px;
                }
            }
        }

    }

}


section {
    height: auto;
    position: relative;

    .slide {
        @media (max-width:992px) {
            margin-top: 50px;
        }
    }

    .banner {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 230px);

        @media (max-width:1200px) {
            transform: translate(-50%, 195px);
        }

        @media (max-width:992px) {
            transform: translate(-50%, 148px);
        }

        @media (max-width:768px) {
            transform: translate(-50%, 114px);
        }

        @media (max-width:576px) {
            transform: translate(-50%, 79px);
        }

        .banner-item {
            .hover01 figure img {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }

            .hover01 figure:hover img {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }

            .column::after {
                content: '';
                clear: both;
                display: block;
            }

            .column div {
                position: relative;
                float: left;
            }

            figure {
                background: #fff;
                overflow: hidden;
                margin: 0;
            }

            figure:hover+span {
                bottom: -36px;
                opacity: 1;

            }
        }

        .banner-big {
            .hover14 figure {
                position: relative;
            }

            .hover14 figure::before {
                position: absolute;
                top: 0;
                left: -75%;
                z-index: 2;
                display: block;
                content: '';
                width: 50%;
                height: 100%;
                background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
                background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
                -webkit-transform: skewX(-25deg);
                transform: skewX(-25deg);
            }

            .hover14 figure:hover::before {
                -webkit-animation: shine 1.5s;
                animation: shine 1.25s;
            }

            @-webkit-keyframes shine {
                100% {
                    left: 125%;
                }
            }

            @keyframes shine {
                100% {
                    left: 125%;
                }
            }
        }
    }
}

.section_product {
    margin-top: 250px;

    .title-main {
        margin-bottom: 20px;
        text-align: center;

        h2 {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 32px;
            letter-spacing: 0;
        }
    }

    .wrap-tab {
        font-family: $font-title;

        .tabs-title {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            @media (max-width:992px) {
                flex-wrap: wrap;

            }

            @media (max-width:768px) {
                flex-wrap: wrap;
            }

        }

        li {
            padding: 0 20px;
            border: 2px solid #ebebeb;
            line-height: 40px;
            border-radius: 20px;
            margin: 0 5px;
            overflow: hidden;

            &:hover {
                border-color: $main-color;
            }

            @media (max-width:992px) {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 10px;
            }

            @media (max-width:768px) {
                width: 100%/4;
                margin-bottom: 10px;
            }
        }

        a {
            color: black;
            text-decoration: none;
            font-family: $font-title;
        }

        .list_product {
            display: flex;
            flex-flow: wrap;

            .item {
                width: calc(100%/5);
                margin-top: 30px;

                //border: 1px solid #ccc;
                .image-product {
                    position: relative;

                    .sale img {
                        position: absolute;
                        right: 8px;
                    }

                    .hover-img {
                        position: absolute;
                        top: 19%;
                        left: 40%;
                        display: none;

                        em {
                            padding: 12px;
                            background-color: white;
                            font-size: 14px;
                            margin-top: 5px;
                            transform: scaleY(-1) rotate(180deg);

                            &:hover {
                                color: white;
                                background-color: $main-color;
                            }
                        }
                    }

                    &:hover {
                        .hover-img {
                            display: block;

                        }

                        img {
                            opacity: 0.5;
                        }

                    }
                }

                .product-info {
                    padding: 0 5px;

                    .name {
                        font-size: 14px;
                        line-height: 18px;
                        font-weight: bold;

                        a {
                            &:hover {
                                color: $main-color;
                            }
                        }
                    }

                    .cost {
                        padding-top: 10px;
                        display: flex;
                        align-items: center;

                        .price {
                            font-weight: bold;
                            color: red;

                            @media (max-width:576px) {
                                font-size: 12px;
                            }
                        }

                        .price-sale {
                            padding-left: 15px;
                            font-size: 12px;
                            text-decoration: line-through;
                            opacity: 0.5;

                            @media (max-width:576px) {
                                font-size: 10px;
                            }
                        }

                        @media (max-width:768px) {
                            font-size: 14px;
                        }

                    }

                }

                @media (max-width:992px) {
                    width: calc(100%/3);
                }

                @media (max-width:768px) {
                    width: calc(100%/3);
                }

                @media (max-width:576px) {
                    width: calc(100%/2);
                }
            }


        }
    }

    @media (max-width:1200px) {
        margin-top: 200px;
    }

    @media (max-width:992px) {
        margin-top: 150px;
    }

    @media (max-width:768px) {
        margin-top: 100px;
    }
}

.banner-sale {
    background-image: url(../images/slider_2.jpg);
    background-repeat: no-repeat;
    margin-top: 50px;

    .title {

        h1 {
            color: white;
            text-align: center;
            font-family: "RobotoM", sans-serif;
            font-weight: bold;
            padding: 50px 0 30px 0;

            @media (max-width:576px) {
                font-size: 18px;
            }
        }



    }

    .wrap-item {
        background-color: white;
        line-height: 20px;
        font-family: $font-title;
        font-size: 14px;

        .item-sale {
            padding: 15px 20px 15px 15px;

            .image-product {
                position: relative;

                @media (max-width:576px) {
                    font-size: 12px;
                    padding: 15px 0 0 0;
                }

                .hover-img {
                    position: absolute;
                    top: 5%;
                    left: 40%;
                    display: none;

                    em {
                        padding: 12px;
                        background-color: white;
                        font-size: 12px;
                        margin-top: 5px;
                        transform: scaleY(-1) rotate(180deg);

                        &:hover {
                            color: white;
                            background-color: $main-color;
                        }
                    }
                }

                &:hover {
                    .hover-img {
                        display: block;
                    }
                }
            }

            .product-info {
                padding: 15px;

                .name {
                    font-weight: bold;
                }

                @media (max-width:576px) {
                    font-size: 12px;
                }

                .cost {
                    display: flex;
                    align-items: center;
                    padding: 15px 0 20px 0;

                    .price {
                        font-weight: bold;
                        color: red;

                        @media (max-width:576px) {
                            font-size: 12px;

                        }
                    }

                    .price-sale {
                        padding-left: 10px;
                        font-size: 12px;
                        text-decoration: line-through;
                        opacity: 0.6;

                        @media (max-width:576px) {
                            font-size: 10px;
                        }
                    }

                    @media (max-width:576px) {
                        font-size: 12px;
                        padding: 5px 0 5px 0;
                    }

                }

                .description {
                    font-size: 12px;
                    opacity: 0.8;

                    @media (max-width:576px) {
                        display: block;
                        text-overflow: ellipsis;
                        height: 20px;
                        overflow: hidden;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

.brand {

    img:first-child {
        @media (max-width:992px) {
            margin-left: 30px;
        }
    }
}

.section-content {
    background-color: #f9f7f7;
    padding-top: 50px;
}

.slide-content {
    margin-left: -15px;
    margin-right: -15px;
}

.content {
    background-color: white;
    padding: 50px 30px 60px 20px;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    width: auto !important;
    font-family: $font-title;

    .title {
        .left {
            font-weight: bold;

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    color: $main-color;
                }
            }

        }

        .right {
            a {
                text-decoration: underline;
                opacity: 0.8;
                color: darkgrey;

                &:hover {
                    color: $main-color;
                }
            }
        }
    }

    .list_product {

        .item {
            margin-top: 30px;

            .image-product {
                margin-right: 15px;
                position: relative;

                &:hover {
                    img {
                        border: 2px solid red;
                        border-radius: 50%;
                        opacity: 0.4;
                    }

                    .sub {
                        display: block;
                    }

                }

                .sub {
                    color: $main-color;
                    position: absolute;
                    top: 32px;
                    left: 34px;
                    display: none;

                }

            }

            .product-info {
                .name {
                    font-weight: bold;
                }

                .cost {
                    display: flex;
                    align-items: center;

                    .price {
                        font-weight: bold;
                        color: red;
                    }

                    .price-sale {
                        margin-left: 10px;
                        font-size: 12px;
                        text-decoration: line-through;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

.sedd-foot {
    &>.row {
        margin-left: 17px;
        margin-right: 17px;
    }
}

.wrap-videos-blogs {
    font-family: $font-title;
    background-color: #eeeeee;
    padding: 50px 0;

    .videos {

        .video-sub {

            h3 {
                font-weight: bold;
            }

            img {
                margin-top: 10px;
            }

            .description {
                padding: 18px 20px 10px 20px;
                background-color: white;

                .title {
                    font-weight: bold;
                    font-size: 14px;

                    a {
                        color: black;
                        text-decoration: none;

                        &:hover {
                            color: $main-color;
                        }
                    }

                    @media (max-width:1200px) {
                        font-size: 20px;
                    }
                }

                p {
                    margin-top: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    font-size: 12px;
                    opacity: 0.6;

                    @media (max-width:1200px) {
                        font-size: 14px;
                    }
                }

                .note {
                    display: flex;
                    font-size: 12px;

                    .date {
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    .blogs {
        h3 {
            font-weight: bold;
        }

        .blog-sub {
            margin-bottom: 2px;

            .blog-item {
                margin-top: 10px;
                display: flex;
                padding: 10px;
                background-color: white;
                max-height: 130px;

                img {
                    margin: 5px;
                    width: 100px;
                    height: 100px;
                }

                .description {
                    margin: 5px;

                    .title {
                        font-size: 14px;
                        font-weight: bold;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;

                        a {
                            color: black;
                            text-decoration: none;

                            &:hover {
                                color: $main-color;
                            }
                        }

                    }

                    .note {
                        font-size: 12px;
                        display: flex;
                        margin-top: 15px;

                        @media (max-width:576px) {
                            display: block;
                            margin-top: 8px;
                        }

                        .date {
                            margin-left: 1rem;

                            @media (max-width:576px) {
                                margin: 0;
                            }
                        }

                    }
                }
            }
        }

        @media (max-width:1200px) {
            margin-top: 50px;
        }
    }
}

footer {
    background-image: url('/images/footer.png');
    padding: 50px 0 43px 0;

    .self {


        .desc {
            color: #eeeeee;
            margin-top: 1rem;
            margin-bottom: 2rem;
            opacity: 0.4;
        }

        .social {
            h5 {
                text-transform: uppercase;
                font-weight: bold;
                color: white;
                margin-bottom: 1rem;
            }

            ul {
                display: flex;
                padding: 0;
                font-size: 22px;

                li {
                    a {
                        padding: 14px;

                        em {
                            padding: 14px;
                        }

                        background-color: #343434;
                        opacity: 0.5;
                        margin: 5px;
                        border-radius: 9px;
                        color: white;
                        border: 1px solid #343434;

                        &:hover {
                            color: $main-color;
                            border: 1px solid $main-color;
                        }
                    }


                }
            }
        }

    }

    .tags {
        .title {
            color: white;
            margin-top: 20px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        .tag-name {
            padding: 0;

            li {
                display: inline-block;
                padding: 0 5px;
                margin-bottom: 8px;
                margin-right: 4px;
                border-radius: 3px;
                background: rgba(255, 255, 255, 0.2);
            }

            a {
                color: #898989;
                text-decoration: none;

                &:hover {
                    color: $main-color;

                }
            }
        }
    }

    .address-shop {
        .title {
            color: white;
            margin-top: 20px;
            text-transform: uppercase;
        }

        .detail {
            .content-detail {
                color: #898989;
                margin-top: 10px;
            }
        }
    }
}

.copy-right {
    background-color: #1a1a1a;
    color: #898989;
    padding: 16px 0;

    a {
        text-decoration: none;
        color: white;

        &:hover {
            color: $main-color;
        }
    }
}

.quick-view {
    padding: 20px;
    border-radius: 10px;
    background-color: #fafafa;
    font-family: $font-title;

    img {
        border-radius: 10px;
    }

    .slider-nav {
        img {
            width: 70px;
            height: 70px;
            margin: 0 5px;

            border: 1px solid #f7f7f7;

            &:hover {
                border: 1px solid $main-color;
            }
        }

        #pre,
        #next {
            background-color: transparent;
            border: none;
            outline: none;
        }
    }

    .title-main {
        h6 {
            font-size: 18px;
            font-weight: bold;
        }

        .view-brand {

            line-height: 17px;
            display: flex;
            align-items: center;

            .view {
                display: flex;
                align-items: center;

                p {
                    opacity: 0.5;
                    margin: 0;
                    padding: 0 10px;
                    border-right: 1px solid black;
                }
            }

            .brand-detail {
                p {
                    margin: 0;
                    padding-left: 10px;
                }
            }
        }

    }

    .cost {
        display: flex;
        align-items: baseline;
        margin: 20px 0;

        .price {
            font-size: 18px;
            font-weight: bold;
            color: $main-color;
        }

        .price-sale {
            text-decoration: line-through;
            opacity: 0.2;
            padding-left: 20px;
        }
    }

    .description {
        color: $text-color;
        opacity: 0.7;
        padding: 10px 0;
        border-bottom: 1px solid #cccccc;
    }

    .color {
        p {
            margin: 10px 0;
            font-size: 16px;
            font-weight: bold;
        }

        .image-color {
            img {
                background-color: white;
                padding: 10px 3px;
                margin-right: 5px;
                border-radius: 50%;
                border: 1px solid #cccccc;

                &:hover {
                    border: 1px solid $main-color;
                }
            }
        }
    }

    .add-cart {
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #cccccc;

        .add-btn {
            button {
                padding: 6px 30px;
                border-radius: 30px;
                background-color: $main-color;
                color: white;
                outline: none;
                border: 1px solid $main-color;
                margin: 0 5px;

                &:hover {
                    background-color: white;
                    color: black;
                    border: 1px solid $main-color;
                }
            }
        }
    }

    .like {
        em {
            border: 1px solid;
            padding: 10px;
            border-radius: 50%;
        }
    }
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 4px;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 14px;
    font-size: 20px;
    color: #ffe45c;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input input[type=number] {
    text-align: center;
}


.md-number-input.number-input {
    border: 2px solid #ddd;
    width: 6.8rem;
    border-radius: 30px;
    background-color: #fafafa;
}

.md-number-input.number-input button {
    outline: none;
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.md-number-input.number-input button i {
    // position: absolute;
    // top: 0;
    font-size: 14px;
}

.md-number-input.number-input button.minus {
    padding-left: 8px;
}

.md-number-input.number-input button.plus {
    padding-left: 6px;
}

.md-number-input.number-input button:before,
.md-number-input.number-input button:after {
    width: 1rem;
    background-color: #212121;
}

.md-number-input.number-input input[type=number] {
    max-width: 1.5rem;
    margin-left: 5px;
    border: none;
    font-size: 1rem;
    height: 2rem;
    font-weight: bold;
    outline: none;
    background-color: #fafafa;
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {

        .number-input.md-number-input.safari_only button:before,
        .number-input.md-number-input.safari_only button:after {
            margin-top: -.6rem;
        }
    }
}

// LOGIN PAGE
.section-link {
    .link-title {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;

        span {
            margin: 0 5px;
        }

        .active {
            color: $main-color;

            &:hover {
                color: $text-color;
            }
        }
    }
}

.section-main {
    font-family: "RobotoM", sans-serif;
    margin-bottom: 100px;
    .content-main {
        .title-content {
            font-size: 25px;
            text-align: center;
            margin-bottom: 20px;
        }

        .content-form {
            display: flex;
            justify-content: center;
            margin: 30xp 0;

            .form-control {
                border-radius: 30px;
                font-size: 14px;
                padding: 8px 8px;
                line-height: 2;

                &:focus {
                    box-shadow: none;
                }

                small {
                    font-size: 10px;
                }
            }

            a {
                margin-left: 5px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .login-button {
            .normal-login {
                max-width: 342px;
                margin: 0 auto;

                button {
                    background-color: $main-color;
                    border-radius: 30px;
                    line-height: 25px;
                    color: white;
                    font-size: 14px;

                    &:focus {
                        box-shadow: none;
                    }

                    &:hover {
                        color: $main-color;
                        background-color: white;
                        border: 1px solid $main-color;
                    }
                }
            }

            .title-concat {
                margin-top: 20px;
                max-width: 342px;
                margin: 0 auto;

                p {
                    padding: 5px;
                }
            }

            .link-api {
                max-width: 342px;
                margin: 0 auto;
                text-align: center;
                display: flex;
                justify-content: space-between;
                em{
                    font-size: 16px;
                    padding: 10px;
                    float: left;
                }
                button {
                    padding-top: 10px;
                    font-size: 12px;
                    outline: none;
                    text-transform: uppercase;
                    border: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }

                .login-facebook {
                    border: 1px solid  rgb(119, 119, 252);
                    width: 47%;
                    background-color:  rgb(119, 119, 252);
                    color: white;
                    button{
                        background-color: rgb(119, 119, 252);
                        color: white;
                    }
                }
                .login-google{
                    color: white;
                    border: 1px solid $main-color;
                    width: 47%;
                    background-color: $main-color;
                    button{
                        background-color: $main-color;
                        color: white;
                    }
                }
            }
        }
        .link-check{
            text-decoration: underline;
            a{
                color: $main-color;
            }
        }

    }


}